[submodule "pathplanning"]
	path = pathplanning
	url = https://github.com/Brightestsama/A4VAI-PathPlanning.git
[submodule "A4VAI-PathFollowing"]
	path = A4VAI-PathFollowing
	url = https://github.com/JOCIIIII/A4VAI-PathFollowing.git
[submodule "super"]
	path = super
	url = https://github.com/hku-mars/SUPER.git
